body{
    background: rgb(216,170,243);
    background: radial-gradient(circle, rgba(216,170,243,1) 0%, rgba(164,205,255,1) 100%);
    font-family: 'PT Serif', serif;
}
header{
    display:flex;
}
h1{
    padding: 40px 0px 40px 200px;
}
header p{
    padding: 40px 40px 40px 0px;
    font-size: 50px;
    color:#4b157c;
}
.contenido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
}
textarea{
    resize: none;
}
.ingreso{
    width: 60%;
    margin: 40px 50px;
}
#texto{
    margin-top: 15px;
    background-color: #b784e700;
    border: none;
    color: #4b157c;
    font-weight: bold;
}
#texto:hover{
    border-style: dashed;
    border-color: #4b157c;
}
#texto::placeholder{
    font-size: 12px;
    color: #4a157cba;
}
.texto{
    font-size: 20px;
    color:#4b157c;
    font-weight: bold;
}
.salida{
    width: 30%;
    margin: 40px;
}
#resultado{
    margin-top: 15px;
    background-color: rgba(0, 255, 255, 0);
    border: none;
    color: #4b157c;
    font-weight: bold;
}
#resultado::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: #4b1f75b9;
    text-align: center;
    padding-top: 90%;
}
.fondo{
    background-image: url(../Challenge1/imagen/muneco.png);
    background-size: 90%;
    background-repeat: no-repeat;
}
.resultado{
    font-size: 20px;
    color:#4b157c;
    font-weight: bold;
}
.encriptar{
    margin-left: 50px;
    padding: 10px 10px;
    font-size: 16px;
    background: #4b157c;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.encriptar:hover{
    background: #c59feb;
    transform: scale(1.15);
    color:#4b157c
}
.desencriptar{
    margin-left: 20px;
    padding: 10px 10px;
    font-size: 16px;
    background: #c59feb;
    color: #4b157c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.desencriptar:hover{
    background: #4b157c;
    transform: scale(1.15);
    color:#FFFFFF
}
.copiar{
    width: 30%;
    margin-left: 40px;
    padding: 10px 10px;
    font-size: 16px;
    background: #c59feb;
    color: #4b157c;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.copiar:hover{
    background: #4b157c;
    transform: scale(1.15);
    color:#FFFFFF
}
.creditos {
    background-color: #4b157c;
    font-size: smaller;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
}